<div class="tree-node-{{model.type}}" [ngClass]="{selected: isSelected}" (click)="click($event)">
    <span *ngIf="isExpandable()" (click)="toggle()">
    <svg x="0px" y="0px" width="20px" height="20px" viewBox="0 0 20 20" focusable="false" fill="#000000">
        <polygon points="8,5 13,10 8,15"></polygon>
    </svg>
        <!--<i [ngClass]="{'glyphicon-minus': isExpanded, hidden: model.isEmpty}"-->
           <!--class="glyphicon glyphicon-plus"></i>-->
        <!--<i *ngIf="model.hasChildren"-->
           <!--[ngClass]="{'glyphicon-folder-open': isExpanded}"-->
           <!--class="glyphicon glyphicon-folder-close"></i>-->
    </span>
    <!--<i *ngIf="!isExpandable()" class="glyphicon glyphicon-file"></i>-->
    <span (click)="select()" class="tree-node-label">
        {{model.name}}
    </span>
    <div *ngIf="isExpandable() && isExpanded && isLoading" class="loading">Loading...</div>
    <div *ngIf="isExpanded" class="tree-node-children">
        <tree-node *ngFor="let child of model.children" [model]="child"></tree-node>
    </div>
</div>